[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/maituanmte
[access "refs/for/refs/*"]
	read = group user/maituanmte
	push = group user/maituanmte
	label-Code-Review = -2..+2 group user/maituanmte
	label-Verified = -1..+1 group user/maituanmte
	rebase = group user/maituanmte
	removeReviewer = group user/maituanmte
	submit = group user/maituanmte
[access "refs/heads/*"]
	read = group user/maituanmte
	create = group user/maituanmte
	push = +force group user/maituanmte
	pushMerge = group user/maituanmte
[access "refs/tags/*"]
	push = +force group user/maituanmte
	pushTag = group user/maituanmte
	pushSignedTag = group user/maituanmte
